<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :due_date, style: "display: block" %>
    <%= form.date_field :due_date %>
  </div>

  <div class="field">
    <%= form.label "Completed?", style: "display: block" %>
    <%= form.check_box :is_complete, value: false %>
  </div>

   <div class="field">
    <%= form.label :category, style: "display: block" %>
    <%= form.select :category_id, options_for_select(@categories.collect {|c| [c.title, c.id]}), {prompt:' - Select Category -'}%>
  </div>

  <div>
       <%= form.date_field :date_created, value: DateTime.now, type: :hidden %>
  </div>

  <div>
    <%= form.number_field :user_id, id: :task_user_id, value:current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

