     <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">

  <%= link_to 'CalenDear', root_path, class:"navbar-brand" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Add Task', new_task_path, class:"nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to 'Add Category', new_category_path, class:"nav-link" %>
      </li>
    </ul>

  <div class="dropleft">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-user-astronaut fa-lg"></i>
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#"> 
        <%= link_to 'User Info'.html_safe, edit_user_registration_path, class:"nav-link top-link right" %>
      </a>
      <a class="dropdown-item" href="#">
        <%= button_to'Log Out', destroy_user_session_path, class:"nav-link button top-link right", method: :delete %>
      </a>
    </div>
  </div>
</div>
</nav>